/**********************************
 * VARIABLES
 * utility
 */
/**********************************
 * MIXIN
 * utility
 */
/**********************************
 * COMMON
 * utility
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
  color: #58412D;
  /* font-size: 12px; */
}

a {
  color: #58412D;
  text-decoration: none;
  transition: all 0.2s ease;
}
a:hover {
  color: #314A8F;
}

ul {
  list-style: none;
}

.wrapper1150 {
  width: 1150px;
  margin: 0 auto;
}

.txt_payoff {
  font-size: 50px;
  font-weight: 700;
}

.txt_sub_title {
  font-size: 22px;
  font-weight: 400;
}

.txt_1 {
  font-size: 14px;
  font-weight: 700;
}

.txt_2 {
  font-size: 14px;
  font-weight: 400;
}

.txt_3 {
  font-size: 13px;
  font-weight: 400;
}

.btn {
  display: flex;
  align-items: center;
  padding: 8px 20px;
  border-radius: 6px;
}
.btn img {
  height: 18px;
  margin-right: 10px;
}
.btn.btn_full {
  color: #FFFFFF;
  border: 1px solid #314A8F;
  background-color: #314A8F;
}
.btn.btn_full:hover {
  background-color: #263566;
  border: 1px solid #263566;
}
.btn.btn_empty {
  color: #314A8F;
  border: 1px solid #314A8F;
  background-color: #FFFFFF;
}
.btn.btn_empty:hover {
  color: #FFFFFF;
  background-color: #314A8F;
}

.btn:not(.nav) {
  font-size: 14px;
  font-weight: 400;
}

/**********************************
 * HEADER
 * section
 */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  padding: 10px 0;
  border-bottom: 1px solid #CCCCCC;
}
header .logo {
  height: 26px;
}
header .logo img {
  height: 100%;
}
header ul {
  display: flex;
  align-items: center;
}
header ul li:not(:last-Child) {
  padding-right: 44px;
}
header ul .fas {
  margin-left: 5px;
}

/**********************************
 * JUMBOTRON
 * section
 */
#jumbotron {
  display: flex;
  padding: 100px 0;
}
#jumbotron .jumbotron_block {
  width: 50%;
}
#jumbotron .jumbotron_block .title, #jumbotron .jumbotron_block .sub_title, #jumbotron .jumbotron_block .btn_row {
  margin-bottom: 30px;
}
#jumbotron .jumbotron_block .sub_title {
  line-height: 35px;
}
#jumbotron .jumbotron_block .btn_row {
  display: flex;
  align-items: center;
}
#jumbotron .jumbotron_block .btn_row > * {
  margin-right: 18px;
}
#jumbotron .jumbotron_block .btn_row span {
  color: #CCCCCC;
}
#jumbotron .jumbotron_block .link {
  display: flex;
  align-items: center;
}
#jumbotron .jumbotron_block .link i {
  font-size: 18px;
  font-weight: 900;
  margin-left: 5px;
}
#jumbotron .jumbotron_block > img {
  width: 100%;
}
#jumbotron .jumbotron_block:first-child {
  padding-right: 60px;
}

/**********************************
 * DESCRIPTION
 * section
 */
#description {
  padding: 90px 0;
  background-color: #FFE7D2;
}
#description .description_top {
  height: 400px;
  border: 1px dashed green;
}
#description .description_bottom {
  height: 400px;
  border: 1px dashed green;
}

/**********************************
 * FEATURES
 * section
 */
.feedback {
  display: flex;
  padding: 60px 0;
  border: 1px dashed red;
}
.feedback .feedback_left {
  width: 50%;
  height: 500px;
  border: 1px dashed green;
}
.feedback .feedback_right {
  width: 50%;
  height: 500px;
  border: 1px dashed green;
}

.surveys {
  display: flex;
  padding: 60px 0;
  border: 1px dashed red;
}
.surveys .surveys_left {
  width: 50%;
  height: 500px;
  border: 1px dashed green;
}
.surveys .surveys_right {
  width: 50%;
  height: 500px;
  border: 1px dashed green;
}

.reviews {
  display: flex;
  padding: 60px 0;
  border: 1px dashed red;
}
.reviews .reviews_left {
  width: 50%;
  height: 500px;
  border: 1px dashed green;
}
.reviews .reviews_right {
  width: 50%;
  height: 500px;
  border: 1px dashed green;
}

.praise {
  display: flex;
  padding: 60px 0;
  border: 1px dashed red;
}
.praise .praise_left {
  width: 50%;
  height: 500px;
  border: 1px dashed green;
}
.praise .praise_right {
  width: 50%;
  height: 500px;
  border: 1px dashed green;
}

/**********************************
 * TESTIMONIAL
 * section
 */
#testimonial {
  height: 600px;
  padding: 55px 0;
  background-color: #FFE7D2;
}

/**********************************
 * FOOTER
 * section
 */
footer {
  display: flex;
  padding: 100px 0;
}
footer .footer_left {
  width: 40%;
  height: 600px;
  border: 1px dashed green;
}
footer .footer_right {
  width: 60%;
  height: 600px;
  border: 1px dashed green;
}

/**********************************
 * AUX
 * utility
 */
/*-------- BOOTSTRAP media queries ---------*/
/* XS >= 0 - default - SEE ABOVE */
/* SM >= 768 */
/* MD >= 992 */
/* LG >= 1200 */
/*------------------------------------------*/
/*------ COL HEIGHT ISSUE WORKAROUND -------*/
/* class="row" >>> class="row display-flex" */
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.display-flex > [class*=col-] {
  display: flex;
  flex-direction: column;
}

/*------------------------------------------*/
/* DEBUG */
/* .debug [class*="container-"] {
	border: 1px solid green;
} */
.debug [class=row] {
  border: 1px solid red;
}

.debug [class*=col-] {
  position: relative;
  background-color: pink;
  border: 1px solid black;
  /* height: 80px; */
}

.debug [class*=col-]::before {
  content: "default";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  font-size: 10px;
  color: white;
  min-width: 24px;
  text-align: center;
  padding: 3px 6px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
}

.debug [class*=col-xs-1]::before {
  content: "xs-1";
}

.debug [class*=col-xs-2]::before {
  content: "xs-2";
}

.debug [class*=col-xs-3]::before {
  content: "xs-3";
}

.debug [class*=col-xs-4]::before {
  content: "xs-4";
}

.debug [class*=col-xs-5]::before {
  content: "xs-5";
}

.debug [class*=col-xs-6]::before {
  content: "xs-6";
}

.debug [class*=col-xs-7]::before {
  content: "xs-7";
}

.debug [class*=col-xs-8]::before {
  content: "xs-8";
}

.debug [class*=col-xs-9]::before {
  content: "xs-9";
}

.debug [class*=col-xs-10]::before {
  content: "xs-10";
}

.debug [class*=col-xs-11]::before {
  content: "xs-11";
}

.debug [class*=col-xs-12]::before {
  content: "xs-12";
}

.debug [class*=col-xs-offset-1]::before {
  content: "xs-o-1";
}

.debug [class*=col-xs-offset-2]::before {
  content: "xs-o-2";
}

.debug [class*=col-xs-offset-3]::before {
  content: "xs-o-3";
}

.debug [class*=col-xs-offset-4]::before {
  content: "xs-o-4";
}

.debug [class*=col-xs-offset-5]::before {
  content: "xs-o-5";
}

.debug [class*=col-xs-offset-6]::before {
  content: "xs-o-6";
}

.debug [class*=col-xs-offset-7]::before {
  content: "xs-o-7";
}

.debug [class*=col-xs-offset-8]::before {
  content: "xs-o-8";
}

.debug [class*=col-xs-offset-9]::before {
  content: "xs-o-9";
}

.debug [class*=col-xs-offset-10]::before {
  content: "xs-o-10";
}

.debug [class*=col-xs-offset-11]::before {
  content: "xs-o-11";
}

.debug [class*=col-xs-offset-12]::before {
  content: "xs-o-12";
}

.debug [class*=col-xs-]::before,
.debug [class*=col-xs-offset-]::before {
  line-height: 100%;
}

@media screen and (min-width: 768px) {
  .debug [class*=col-sm-1]::before {
    content: "sm-1";
  }

  .debug [class*=col-sm-2]::before {
    content: "sm-2";
  }

  .debug [class*=col-sm-3]::before {
    content: "sm-3";
  }

  .debug [class*=col-sm-4]::before {
    content: "sm-4";
  }

  .debug [class*=col-sm-5]::before {
    content: "sm-5";
  }

  .debug [class*=col-sm-6]::before {
    content: "sm-6";
  }

  .debug [class*=col-sm-7]::before {
    content: "sm-7";
  }

  .debug [class*=col-sm-8]::before {
    content: "sm-8";
  }

  .debug [class*=col-sm-9]::before {
    content: "sm-9";
  }

  .debug [class*=col-sm-10]::before {
    content: "sm-10";
  }

  .debug [class*=col-sm-11]::before {
    content: "sm-11";
  }

  .debug [class*=col-sm-12]::before {
    content: "sm-12";
  }

  .debug [class*=col-sm-offset-1]::before {
    content: "sm-o-1";
  }

  .debug [class*=col-sm-offset-2]::before {
    content: "sm-o-2";
  }

  .debug [class*=col-sm-offset-3]::before {
    content: "sm-o-3";
  }

  .debug [class*=col-sm-offset-4]::before {
    content: "sm-o-4";
  }

  .debug [class*=col-sm-offset-5]::before {
    content: "sm-o-5";
  }

  .debug [class*=col-sm-offset-6]::before {
    content: "sm-o-6";
  }

  .debug [class*=col-sm-offset-7]::before {
    content: "sm-o-7";
  }

  .debug [class*=col-sm-offset-8]::before {
    content: "sm-o-8";
  }

  .debug [class*=col-sm-offset-9]::before {
    content: "sm-o-9";
  }

  .debug [class*=col-sm-offset-10]::before {
    content: "sm-o-10";
  }

  .debug [class*=col-sm-offset-11]::before {
    content: "sm-o-11";
  }

  .debug [class*=col-sm-offset-12]::before {
    content: "sm-o-12";
  }

  .debug [class*=col-sm-]::before,
.debug [class*=col-sm-offset-]::before {
    line-height: 100%;
  }
}
@media screen and (min-width: 992px) {
  .debug [class*=col-md-1]::before {
    content: "md-1";
  }

  .debug [class*=col-md-2]::before {
    content: "md-2";
  }

  .debug [class*=col-md-3]::before {
    content: "md-3";
  }

  .debug [class*=col-md-4]::before {
    content: "md-4";
  }

  .debug [class*=col-md-5]::before {
    content: "md-5";
  }

  .debug [class*=col-md-6]::before {
    content: "md-6";
  }

  .debug [class*=col-md-7]::before {
    content: "md-7";
  }

  .debug [class*=col-md-8]::before {
    content: "md-8";
  }

  .debug [class*=col-md-9]::before {
    content: "md-9";
  }

  .debug [class*=col-md-10]::before {
    content: "md-10";
  }

  .debug [class*=col-md-11]::before {
    content: "md-11";
  }

  .debug [class*=col-md-12]::before {
    content: "md-12";
  }

  .debug [class*=col-md-offset-1]::before {
    content: "md-o-1";
  }

  .debug [class*=col-md-offset-2]::before {
    content: "md-o-2";
  }

  .debug [class*=col-md-offset-3]::before {
    content: "md-o-3";
  }

  .debug [class*=col-md-offset-4]::before {
    content: "md-o-4";
  }

  .debug [class*=col-md-offset-5]::before {
    content: "md-o-5";
  }

  .debug [class*=col-md-offset-6]::before {
    content: "md-o-6";
  }

  .debug [class*=col-md-offset-7]::before {
    content: "md-o-7";
  }

  .debug [class*=col-md-offset-8]::before {
    content: "md-o-8";
  }

  .debug [class*=col-md-offset-9]::before {
    content: "md-o-9";
  }

  .debug [class*=col-md-offset-10]::before {
    content: "md-o-10";
  }

  .debug [class*=col-md-offset-11]::before {
    content: "md-o-11";
  }

  .debug [class*=col-md-offset-12]::before {
    content: "md-o-12";
  }

  .debug [class*=col-md-]::before,
.debug [class*=col-md-offset-]::before {
    line-height: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .debug [class*=col-lg-1]::before {
    content: "lg-1";
  }

  .debug [class*=col-lg-2]::before {
    content: "lg-2";
  }

  .debug [class*=col-lg-3]::before {
    content: "lg-3";
  }

  .debug [class*=col-lg-4]::before {
    content: "lg-4";
  }

  .debug [class*=col-lg-5]::before {
    content: "lg-5";
  }

  .debug [class*=col-lg-6]::before {
    content: "lg-6";
  }

  .debug [class*=col-lg-7]::before {
    content: "lg-7";
  }

  .debug [class*=col-lg-8]::before {
    content: "lg-8";
  }

  .debug [class*=col-lg-9]::before {
    content: "lg-9";
  }

  .debug [class*=col-lg-10]::before {
    content: "lg-10";
  }

  .debug [class*=col-lg-11]::before {
    content: "lg-11";
  }

  .debug [class*=col-lg-12]::before {
    content: "lg-12";
  }

  .debug [class*=col-lg-offset-1]::before {
    content: "lg-o-1";
  }

  .debug [class*=col-lg-offset-2]::before {
    content: "lg-o-2";
  }

  .debug [class*=col-lg-offset-3]::before {
    content: "lg-o-3";
  }

  .debug [class*=col-lg-offset-4]::before {
    content: "lg-o-4";
  }

  .debug [class*=col-lg-offset-5]::before {
    content: "lg-o-5";
  }

  .debug [class*=col-lg-offset-6]::before {
    content: "lg-o-6";
  }

  .debug [class*=col-lg-offset-7]::before {
    content: "lg-o-7";
  }

  .debug [class*=col-lg-offset-8]::before {
    content: "lg-o-8";
  }

  .debug [class*=col-lg-offset-9]::before {
    content: "lg-o-9";
  }

  .debug [class*=col-lg-offset-10]::before {
    content: "lg-o-10";
  }

  .debug [class*=col-lg-offset-11]::before {
    content: "lg-o-11";
  }

  .debug [class*=col-lg-offset-12]::before {
    content: "lg-o-12";
  }

  .debug [class*=col-lg-]::before,
.debug [class*=col-lg-offset-]::before {
    line-height: 100%;
  }
}
