/**********************************
 * COMMON
 * utility
 */

// % PROLEGOMENA % 
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	background-color: $white;
	color: $brown;
	/* font-size: 12px; */
}
a {
	color: $brown;
	text-decoration: none;
	transition: all .2s ease;
	&:hover {
		color: $blue;
	}
}
ul {
	list-style: none;
}
.wrapper1150 {
	width: 1150px;
	margin: 0 auto;
}

// % TEXTS % 
.txt_payoff {
	font-size: 50px;
	font-weight: 700;
}
.txt_sub_title {
	font-size: 22px;
	font-weight: 400;
}
.txt_1 {
	font-size: 14px;
	font-weight: 700;
}
.txt_2 {
	font-size: 14px;
	font-weight: 400;
}
.txt_3 {
	font-size: 13px;
	font-weight: 400;
}
.txt_footer_title {
	font-size: 18px;
	line-height: 23px;
	font-weight: 700;
}

// % BUTTONS % 
.btn {
	@include flex-row-cv;
	padding: 8px 20px;
	border-radius: 6px;
	img {
		height: 18px;
		margin-right: 10px; 
	}
	&.btn_full {
		color: $white;
		border: 1px solid $blue;
		background-color: $blue;
		&:hover {
			background-color: $blue2;
			border: 1px solid $blue2;
		}
	}
	&.btn_empty {
		color: $blue;
		border: 1px solid $blue;
		background-color: $white;
		&:hover {
			color: $white;
			background-color: $blue;
		}
	}
}
.btn:not(.nav) {
	// txt_2 per tutti; txt_1 per nav 
	font-size: 14px;
	font-weight: 400;
}
