/**********************************
 * COMMON
 * utility
 */

// % PROLEGOMENA % 
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	background-color: $white;
	color: $brown;
	/* font-size: 12px; */
}
a {
	color: $brown;
	text-decoration: none;
	transition: all .2s ease;
	&:hover {
		color: $blue;
	}
}
ul {
	list-style: none;
}
.wrapper {
	margin: 0 auto;
	&.w1 { width: 1150px; }
	&.w2 { width: 1550px; }
}

// % TEXTS % 
.txt_payoff {
	font-size: 50px;
	font-weight: 700;
}
.txt_big_title {
	font-size: 40px;
	font-weight: 700;
}
.txt_title {
	font-size: 26px;
	line-height: 36px;
	font-weight: 700;
}
.txt_sub_title {
	font-size: 22px;
	font-weight: 400;
}
.txt_fas {
	font-size: 18px;
	font-weight: 900;
}
.txt_footer_title {
	font-size: 18px;
	line-height: 23px;
	font-weight: 700;
}
.txt_caption {
	font-size: 18px;
	font-weight: 400;
}
.txt_nav {
	font-size: 14px;
	font-weight: 700;
}
.txt_link {
	font-size: 14px;
	font-weight: 400;
}
.txt_btn_or {
	font-size: 13px;
	font-weight: 400;
}
.txt_role {
	font-size: 12px;
	font-weight: 400;
}

// % BUTTONS % 
.btn {
	@include flex-row-cv;
	padding: 8px 20px;
	border-radius: 6px;
	img {
		height: 18px;
		margin-right: 10px; 
	}
	&.btn_full {
		color: $white;
		border: 1px solid $blue;
		background-color: $blue;
		&:hover {
			background-color: $blue2;
			border: 1px solid $blue2;
		}
	}
	&.btn_empty {
		color: $blue;
		border: 1px solid $blue;
		background-color: $white;
		&:hover {
			color: $white;
			background-color: $blue;
		}
	}
	&:not(.nav) {
		font-size: 14px;
		font-weight: 400;
	}
}
