/**********************************
 * COMMON
 * utility
 */

// % PROLEGOMENA % 
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	background-color: $white;
	color: $brown;
	/* font-size: 12px; */
}
a {
	text-decoration: none;
	color: $brown;
}
a:hover {
	color: $brown;
}
ul {
	list-style: none;
}
.wrapper1150 {
	width: 1150px;
	margin: 0 auto;
}

// % TEXTS % 
.txt_1 {
	font-size: 14px;
	font-weight: 700;
}
.txt_2 {
	/* font-size: 1.2em; */
	font-weight: 600;
	line-height: 3em;
}
.txt_3 {
	font-size: 1em;
	font-weight: 300;
}
/* .txt_small_1 {
	font-size: 0.9em;
	font-weight: 600; 
} */
/* .txt_small_1 {
	font-size: 0.9em;
	font-weight: 600; 
} */

// % BUTTONS % 
.btn {
	padding: 8px 20px;
	border-radius: 6px;
	&.btn_empty {
		color: $blue;
		border: 1px solid $blue;
		background-color: $white;
		&:hover {
			color: $white;
			background-color: $blue;
	
		}
	}
}

// % MEDIA QUERIES %                                      
/*-------- BOOTSTRAP media queries ---------*/
/* XS >= 0 - default - SEE ABOVE */
/* SM >= 768 */
@media screen and (min-width: 768px) { 
}
/* MD >= 992 */
@media screen and (min-width: 992px) {
}
/* LG >= 1200 */
@media screen and (min-width: 1200px) {
}
/*------------------------------------------*/

