/**********************************
 * DESCRIPTION
 * section
 */

#description {
	text-align: center;
	padding-bottom: 90px;
	background-color: $cream;
	.description_block {
		padding: 90px 0 120px;
		.title {
			padding: 0 250px;
			margin-bottom: 80px;
		}
		.img_row {
			@include flex-row;
			padding: 0 125px;
			margin-bottom: 80px;
			.img_box {
				.img_frame {
					height: 130px;
					img {
						max-width: 140px;
						max-height: 105px;
					}
				}
				.caption {
					padding: 0 15px;
				}
			} 
		}
		& > img {
			width: 280px;
		}
		&:first-child {
			border-bottom: 1px solid $grey;
		}
	}
}