/**********************************
 * FEATURES
 * section
 */
 
#features {
	@each $item in feedback, surveys, reviews, praise {
		.#{$item} {
			@include flex-row;
			padding: 60px 0;
			@each $side in left, right {
				.#{$item}_#{$side} {
					@include flex-col;
					@if $side == "right" { @include fx-col-left; } 
					@else { @include fx-col-right; }
					width: 50%;
					& > div {
						width: 460px;
						margin-bottom: 30px;
						a {
							color: $blue;
							@include fas-icon;
						}
					}
					img:first-child       { width: 100%;   }
					img:not(:first-child) { height: 300px; }
				}	
			}
		} 
	}
}
