/**********************************
 * FEATURES
 * section
 */
@each $item in feedback, surveys, reviews, praise {
	.#{$item} {
		display: flex;
		padding: 60px 0;
		border: 1px dashed red;
		@each $side in left, right {
			.#{$item}_#{$side} {
				width: 50%;
				height: 500px;
				border: 1px dashed green;
			}	
		}
	}
}