/**********************************
 * HEADER
 * section
 */

header {
	@include flex-row-cv;
	@include fx-row-between;
	height: 75px;
	padding: 10px 0;
	border-bottom: 1px solid $grey; 
	// border: 1px dashed red;
	.logo {
		height: 26px;
		img {
			height: 100%;
		}
	}
	ul {
		@include flex-row-cv;
		li:not(:last-Child) {
			padding-right: 44px;
		}
		.fas {
			margin-left: 5px;
		}
	}
}

