/**********************************
 * HEADER
 * section
 */
 
header {
	@include flex-row-cv;
	@include fx-between;
	height: 75px;
	padding: 10px 0;
	border-bottom: 1px solid $grey; 
	// border: 1px dashed red;
	.logo {
		height: 26px;
		img {
			height: 100%;
		}
	}
	ul {
		display: flex;
		align-items: center;
		li {
			a {
				@include flex-row-cv;
				img {
					height: 18px;
					margin-right: 10px; 
				}
			}
		}
		li:not(:last-Child) {
			padding-right: 40px;
		}
	}
}

