/**********************************
 * JUMBOTRON
 * section
 */

#jumbotron {
	@include flex-row;
	padding: 100px 0;
	.jumbotron_block {
		width: 50%;
		.title, .sub_title, .btn_row {
			margin-bottom: 30px;
		}
		.sub_title {
			line-height: 35px;
		}
		.btn_row {
			@include flex-row-cv;
			& > * {
				margin-right: 18px;
			}
			span { 
				color: $grey; 
			}
		}
		@include fas-icon;
		& > img {
			width: 100%;
		}
	}
	.jumbotron_block:first-child {
		padding-right: 60px;
	}
}
