/**********************************
 * JUMBOTRON
 * section
 */

#jumbotron {
	@include flex-row;
	padding: 100px 0;
	.jumbotron_block {
		width: 50%;
		.title, .sub_title {
			margin-bottom: 30px;
		}
		.sub_title {
			line-height: 35px;
		}
		@include btn_box;
		& > img {
			width: 100%;
		}
		&:first-child {
			padding-right: 60px;
		}
	}
}
