/**********************************
 * MIXIN
 * utility
 */
 
// % FLEX STRUCTURES % 
@mixin flex-row {
	display: flex;
}
@mixin flex-row-cv {
	display: flex;
	align-items: center;
}
@mixin fx-between {
	justify-content: space-between;
}