/**********************************
 * MIXIN
 * utility
 */

// % FLEX STRUCTURES % 
@mixin flex-row {
	display: flex;
}
@mixin flex-row-cv {
	display: flex;
	align-items: center;
}
@mixin flex-row-co {
	display: flex;
	justify-content: center;
}
@mixin fx-row-between {
	justify-content: space-between;
}
@mixin flex-col-cc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
@mixin fx-col-stretch {
	align-items:stretch;
}

@mixin fx-grow-1 { 
	flex-grow: 1; 
}

// % TEXTS % 
@mixin txt($size,$weight) {
	font-size: $size * 1px;
	font-weight: $weight;
}



// .flex-row-co { display: flex; justify-content: center;                      }
// .flex-row-cc { display: flex; justify-content: center; align-items: center; }
// .flex-col    { display: flex; flex-direction: column;                                               }
// .flex-col-co { display: flex; flex-direction: column; align-items: center;                          }
// .flex-col-cv { display: flex; flex-direction: column;                      justify-content: center; }
// .flex-col-cc { display: flex; flex-direction: column; align-items: center; justify-content: center; }
// .fx-row-left  { justify-content: flex-start; }
// .fx-row-right { justify-content: flex-end;   }
// .fx-col-left  { align-items: flex-start;     }
// .fx-col-right { align-items: flex-end;       }
// .fx-grow-0 { flex-grow: 0; }

// .fx-grow-2 { flex-grow: 2; }
// /* vertical paddings */
// .padding_v_big { padding-top: 100px; padding-bottom: 100px; }
// .padding_v_med { padding-top:  60px; padding-bottom:  60px; }
// .padding_v_sml { padding-top:  30px; padding-bottom:  30px; }
// .padding_v_min { padding-top:  10px; padding-bottom:  10px; }
// .float_l { float: left; }
// .float_r { float: right; }
// .clearfix {
// 	content: "";
// 	display: table;
// 	clear: both;
// }
